body{
    font-family: "Poppins", serif;
}
.logo{
    color: #023E8A;
    font-weight: bold;
}
.logo_first_letter{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
} 
.sub_logo{
    font-size: medium;
}
.plan_card {
    height: 350px;
    display: flex;
    flex-direction: column;
}
.plan_card_head{
    /* background-color: #0096C7; */
    /* background-image: linear-gradient(to right top, #6b6ed1, #636ed4, #5b6dd6, #516dd9, #456ddb, #357be6, #2189ef, #0097f7, #00b4ff, #00ceff, #00e5fa, #5ffbf1); */
    background-image: linear-gradient(to right top, #6b6ed1, #6470d5, #5c73d9, #5375dd, #4878e1, #4c76dd, #4f73d8, #5271d4, #5e6ac6, #6663b8, #6b5daa, #6d579d);
    color: black;
}
.plan_price{
    color: white;
}
.plan_span{
    font-size: medium;
}
.tag{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: large;
    /* background-color: #0d47a1; */
    background-color: #003554;
    color: white;
    /* background-color: linear-gradient(to right top, #a46bd1, #966bd4, #856bd7, #736cda, #5c6cdc, #487be7, #3089f0, #0097f7, #00b4ff, #00ceff, #00e5fa, #5ffbf1);; */
}
.plan_card_body{
    /* height: 300px; */
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}
.icon_color{
    color: #051923;
}
.card-footer {
    font-weight: bold;
    text-align: center;
    height: 10vh;
}
.buy_button {
    letter-spacing: 1px;
    background-color: #023E8A;
    color: white;
    border: none;
    width: 75%;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
}
.category_card{
    background-color: white;
    color: #023E8A;
}
.cat_name{
    color: #023E8A;
}
.nav-pills .nav-link.active {
    background-color: #023E8A;
    color: white;
}
/* Custom Range Slider Track & Thumb */
.custom-range {
width: 100%;
height: 6px;
background: #e9ecef;
outline: none;
border-radius: 5px;
appearance: none;
}

/* Firefox */
.custom-range::-moz-range-thumb {
width: 16px;
height: 16px;
background-color: #acb0b4;
border-radius: 50%;
border: 2px solid #acb0b4;
cursor: pointer;
}

/* Chrome, Safari, Edge */
.custom-range::-webkit-slider-thumb {
width: 16px;
height: 16px;
background-color: #acb0b4;
border-radius: 50%;
border: 2px solid #acb0b4;
cursor: pointer;
}

/* Custom Radio Buttons */
.custom-radio {
appearance: none;
width: 18px;
height: 18px;
border: 2px solid #acb0b4;
border-radius: 50%;
position: relative;
cursor: pointer;
}

/* Optional: Add inner circle on checked */
.custom-radio:checked::before {
content: "";
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}